# https://dahianlamindakide.ayriyazilir.com/

# vendor:js
bootstrap.min.js
instantclick.js
jquery.easings.min.js
jquery.fullpage.min.js
jquery.fullpage.min.js.map
jquery.min.js
jquery.min.map
jquery.slimscroll.min.js
particles.min.js
sharer.min.js
